<!DOCTYPE html>
<html lang="en">

  <%- include ('head'); -%>

<body>

  <%- include ('nav'); -%>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <img class="card-img-top float-left d-none d-md-block" src="./img/NerdPay-Logo.png" alt="" style="width: 150px;" ><h1 class="display-3">NerdPay!</h1>
      <p class="lead">A lightweight cryptocurrency payment gateway.</p>
      <p class="d-none d-md-block">One-Time Payments, Recurring Payments, Payment reminders, Webhook and Discord integration and SO much more.</p>
      <a href="#" class="btn btn-primary btn-lg text">Get Set Up!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./img/Price-tag.png" alt="">
          <div class="card-body">
            <h4 class="card-title">One-Time Payment</h4>
            <p class="card-text">Purchase items/services once or create one-time invoices capable of being paid immediately.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./img/recurring.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Recurring Payments</h4>
            <p class="card-text">Purchase an item/service every so often with optional payment reminders.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./img/API.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Integration</h4>
            <p class="card-text">Integrate NerdPay with other services. Including your own services!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Connect!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./img/protect.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Escrowed Funds</h4>
            <p class="card-text">Buy with confidence knowing that funds are held in escrow for a period of time in case there are any issues with the transaction.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Protect Yourself!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <%- include ('footer'); -%>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
